<template>
  <div id="page_action" class="container-fluid">
    <div class="col-sm-3 col-md-3 box-menu-left">
      <div class="row">
        <div class="menu-left text-uppercase">
          <div class="text-center action-menu admin">
            <div class="row">
              <span>admin</span>
            </div>
          </div>
          <ul class="list-admin">
            <li><span class="mode online"></span>{{ dataAdmin.format_name }}</li>
          </ul>
          <h4 class="text-center">personil</h4>
          <ul class="list-personil">
            <li v-for="user in dataUser"><input class="checkbox" type="checkbox" value="{{ user.id }}" v-model="checkedNames"><span class="mode {{ (user.is_online == true)?'active':'nonactive' }}"></span><span class="mode {{ user.online_status }}"></span><span class="name">{{ user.format_name }}</span></li>
          </ul>
          <div class="count-user">
            <div class="col-md-6 text-center">
              <small>Personil Online</small>
              <div class="number">{{ filterUserOn.length }}</div>
            </div>
            <div class="col-md-6 text-center">
              <small>Personil Offline</small>
              <div class="number">{{ filterUserOff.length }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 pull-right container-map">

      <top-menu></top-menu>

      <div class="content-map">
        <form id="addLocation" class="add-location" action="" method="post">
          <div class="form-group">
            <input id="latbox" class="form-control hide" type="text" name="lat" value="" disabled placeholder="Latitude" v-model="caseData.lat">
          </div>
          <div class="form-group">
            <input id="lngbox" class="form-control hide" type="text" name="lng" value="" disabled placeholder="Longitude" v-model="caseData.lng">
          </div>
          <div class="form-group">
            <textarea id="address" class="form-control" name="location" placeholder="Address" row="3" v-model="caseData.location"></textarea>
          </div>
          <div class="form-group">
            <textarea id="description" class="form-control" name="description" placeholder="Description" row="3" v-model="caseData.description"></textarea>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-default" @click="submitCases()">Tambah Kejadian</button>
          </div>
        </form>
        <div id="map"></div>
      </div>

      <bottom-menu></bottom-menu>

    </div>

    <footer class="footer navbar-fixed-bottom">
      <span class="layer-footer-copyright">© 2016 V.1.0.1</span>
      <span class="pull-right">concept by | AKP. DWI NUGROHO , S.H. S.I.K</span>
    </footer>
  </div>
</template>

<script>
import auth from 'auth'
import load from 'services/routes'
import TopMenu from '../action/TopMenu.vue'
import BottomMenu from '../action/BottomMenu.vue'

var token = localStorage.getItem("lsData")
function initialize() {
  var self = this;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(-7.0051453,110.43812539999999),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var infowindow = new google.maps.InfoWindow({
    maxWidth: 300
  });

  var icons = {
    dinas: {
      icon: '/static/img/green-triangle.png'
    },
    cadangan: {
      icon: '/static/img/yellow-triangle.png'
    },
    lepas_dinas: {
      icon: '/static/img/red-triangle.png'
    }
  };
  new Promise(function (resolve, reject) {
    load.getAdminSessionUsers(token).subscribe(
      function onSuccess (response) {
        resolve(response.users)
      },
      function onError (error) {
        reject({ error: error })
      }
    )
  }).then(function (locations) {
    locations.forEach(function (location) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(location.lat, location.lng),
        icon: icons[location.online_status].icon,
        map: map
      });
      var str = location.format_name
      var name = str.toUpperCase(location.format_name)
      var contentString = '<div id="content">'+
                          '<div class="text-center"><strong>'+ name +'</strong></div>'+
                          '<blockquote style="padding: 5px 10px;font-size: 13px;">'+
                          '<strong>Status:</strong>'+
                          '<p>'+ location.online_status_string +'</p>'+
                          '<strong>Nomor Telpon:</strong>'+
                          '<p>'+ location.phone_number +'</p>'+
                          '</blockquote>' +
                          '<p>'+ location.lat + ' , ' + location.lng +'</p>'+
                          '</div>'
      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent(contentString)
        infowindow.open(map, marker)
      })
    })
  })
}

export default {

  data() {
    return {
      dataAdmin: '',
      dataUser:'',
      filterUserOn :'',
      filterUserOff:'',
    }
  },

  components: {TopMenu, BottomMenu},

  ready() {
    this.getDataAdmin()
    this.getDataUser()
    setInterval(function () {
      this.getDataUser()
    }.bind(this), 120000)
    initialize()
    setInterval(function () {
      initialize()
    }.bind(this), 120000)
  },

  methods: {
    getDataAdmin() {
      load.getAdminSessionAdminData(token).subscribe(
        function (response) {
          console.log('Success Admin');
          this.dataAdmin = response.admin
        }.bind(this),
        function (errors) {
          console.log('onError %s', errors);
        }.bind(this)
      )
    },
    getDataUser() {
      load.getAdminSessionUsers(token).subscribe(
          function (response) {
            console.log('Success');
            this.dataUser = response.users
            this.filterUserOn = _.filter(this.dataUser, function(e) { return e.is_online; });
            this.filterUserOff = _.filter(this.dataUser, function(e) { return !e.is_online; });
          }.bind(this),
          function (errors) {
            console.log('onError %s', errors);
          }.bind(this)
      )
    },
  },

  route: {
    canActivate() {
      return auth.user.authenticated
    }
  }

}
</script>
