<template>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-3 col-md-3 box-menu-left">
      <div class="row">
        <div class="menu-left text-uppercase">
          <div class="text-center action-menu admin">
            <div class="row">
              <span>admin</span>
            </div>
          </div>
          <ul class="list-admin">
            <li v-if="dataAdmin.length>0" v-for="admin in dataAdmin"><span class="mode online"></span>{{ admin.format_name }}</li>
            <div class="text-center" v-if="dataAdmin.length<1">Loading...</div>
          </ul>
          <h4 class="text-center">personil</h4>
          <ul class="list-personil">
            <li v-if="dataUser.length>0" v-for="user in dataUser"><input class="checkbox" type="checkbox" value="{{ user.id }}" v-model="checkedNames"><span class="mode {{ (user.is_online == true)?'active':'nonactive' }}"></span><span class="mode {{ user.online_status }}"></span><span class="name">{{ user.format_name }}</span></li>
            <div class="loading" v-if="dataUser.length<1">Loading...</div>
          </ul>
          <div class="count-user">
            <div class="col-xs-6 col-md-6 text-center">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode dinas"></span>
                    <div class="number">{{ statusDinas.length }}</div>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode cadangan"></span>
                    <div class="number">{{ statusCadangan.length }}</div>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode lepas_dinas"></span>
                    <div class="number">{{ statusLepasdinas.length }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-6 text-center">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="row">
                    <small>Online</small>
                    <div class="number">{{ filterUserOn.length }}</div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="row">
                    <small>Offline</small>
                    <div class="number">{{ filterUserOff.length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 pull-right container-map">

      <top-menu :click-handler="filterMarker"></top-menu>

      <div class="content-map">
        <div id="map"></div>
      </div>

      <bottom-menu :click-handler="filterMarker"></bottom-menu>

    </div>

    <footer class="footer navbar-fixed-bottom">
      <span class="layer-footer-copyright">© 2016 V.1.0.1</span>
      <span class="pull-right">concept by | AKP. DWI NUGROHO , S.H. S.I.K</span>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import auth from 'auth'
import load from 'services/routes'
import modal from '../modal.vue'
import moment from 'moment'
import TopMenu from '../action/TopMenu.vue'
import BottomMenu from '../action/BottomMenu.vue'
import _ from 'lodash'

var token = localStorage.getItem("lsData")

export default {

  data() {
    return {
      dataAdmin: '',
      dataUser: '',
      filterUserOn:'',
      filterUserOff:'',
      statusDinas:'',
      statusCadangan:'',
      statusLepasdinas: '',
      checkedNames: [],
      map: '', latLng: '', filter: 'all',
      markers: [], marker: null,
      infoWindow: new google.maps.InfoWindow({ maxWidth: 300 }),
      icons:{
        dinas: { icon: '/static/img/green-triangle.png' },
        cadangan: { icon: '/static/img/yellow-triangle.png' },
        lepas_dinas: { icon: '/static/img/red-triangle.png' }
      },
      interval1: '', interval2: ''
    }
  },

  created() {
    this.latLng = new google.maps.LatLng(-7.0051453,110.43812539999999);
  },

  components:{TopMenu, BottomMenu},

  ready() {
    this.map = new google.maps.Map(document.getElementById('map'), {
      zoom:      11,
      center:    this.latLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    this.getDataAdmin()
    this.getDataUser()
    this.initialize()
    this.interval1 = this.getNewMarkerData();
    this.interval2 = this.ticking();
  },

  destroyed () {
    window.clearInterval(this.interval1);
    window.clearInterval(this.interval2);
  },

  methods: {
    ticking() {
      const self = this;
      return window.setInterval(function () {
        self.getDataUser();
      }, 30000);
    },
    getNewMarkerData() {
      const self = this;
      return window.setInterval(function () {
        self.initialize();
      }, 30000);
    },
    initialize() {
      const self = this;
      // get semua kejadian { opencases }
      new Promise(function (resolve, reject) {
        load.getAdminSessionUsers(token).subscribe(
          function onSuccess (response) {
            resolve(response.users)
          },
          function onError (error) {
            reject({ error: error })
          }
        )
      }).then(function (locations) {
        self.clearMarker();
        self.setMarkers(locations);
      })
    },
    setMapOnAll(map, markers) {
      const self = this;
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    },
    setMarkers(locations) {
      const self = this;
      self.clearMarker();
      let marker;
      locations.forEach(function (location) {
        // Code for setMarkers
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(location.lat, location.lng),
          icon: self.icons[location.online_status].icon,
          // map: self.map
        });
        if(location.online_status != 'lepas_dinas') self.markers.push(marker);
        var str           = location.format_name
        var name          = str.toUpperCase(location.format_name)
        var contentString = `<div id="content">
          <div class="text-center"><strong>${name}</strong></div>
          <blockquote style="padding: 5px 10px;font-size: 13px;">
            <strong>Status:</strong>
            <p>${location.online_status_string}</p>
            <strong>Nomor Telpon:</strong>
            <p>${location.phone_number}</p>
          </blockquote>
          <p>${location.lat} , ${location.lng}</p>
        </div>`;

        google.maps.event.addListener(marker, 'click', function () {
          self.infoWindow.setContent(contentString)
          self.infoWindow.open(self.map, this)
        })
      })
      self.setMapOnAll(self.map, self.markers);
    },
    // filterMarker(filter) {
    //   // get the filter, filter all markers based on the filter
    //   const self = this;
    //   self.setMapOnAll(null, this.markers);
    //   let filteredMarker = [];
    //   for(let i=0; i<self.markers.length; i++) {
    //     if(filter == 'all' || self.markers[i].case_type == filter) filteredMarker.push(self.markers[i]);
    //   }
    //   self.filter = filter;
    //   self.setMapOnAll(self.map, filteredMarker);
    // },
    clearMarker() {
      this.setMapOnAll(null, this.markers);
      this.$set('markers', []);
    },
    getDataAdmin() {
      load.getAdminSessionAdminData(token).subscribe(
        function (response) {
          // console.log('Success Admin');
          this.dataAdmin = response.admins
        }.bind(this),
        function (errors) {
          // console.log('onError %s', errors);
        }.bind(this)
      )
    },
    getDataUser() {
      load.getAdminSessionUsers(token).subscribe(
          function (response) {
            this.dataUser = response.users
            this.filterUserOn = _.filter(this.dataUser, function(e) { return e.is_online; });
            this.filterUserOff = _.filter(this.dataUser, function(e) { return !e.is_online; });
            this.statusDinas = _.filter(this.dataUser, {'online_status' : 'dinas'});
            this.statusCadangan = _.filter(this.dataUser, {'online_status' : 'cadangan'});
            this.statusLepasdinas = _.filter(this.dataUser, {'online_status' : 'lepas_dinas'});
          }.bind(this),
          function (errors) {
            console.log('onError %s', errors);
          }.bind(this)
      )
    },
  },

  route: {
    canActivate() {
      return auth.user.authenticated
    }
  }

}
</script>
<style lang="css">
.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
</style>
