<template lang="html">
  <div class="login-container">
    <form @submit.prevent="login">
      <input type="text" v-model="username" placeholder="username">
      <input type="password" v-model="password" placeholder="password">
      <button :disabled="loading">{{ (loading) ? 'Loading ...' : 'Login'}}</button>
    </form>
  </div>
</template>

<script>
import config from '../../services/config'
import store from '../../vuex/store'
import {setToken} from '../../vuex/actions'
export default {
  data() {
    return {
      loading: false,
      username: '',
      password: ''
    };
  },
  store,
  vuex: {
    actions: {
      setToken
    }
  },
  methods: {
    login() {
      this.loading = true;
      this.$http.post(`${config.API_URL}/masters/sign_in`, {
        username: this.username,
        password: this.password
      })
      .then((response) => {
        // localStorage.setItem('SAData', `{"authentication_token": "${response.data.data.user.authentication_token}"}`);
        this.setToken(response.data.data.user.authentication_token);
        this.username        = '';
        this.password        = '';
        this.loading         = false;
        this.$router.go('/admin');
        // window.location.href = "/admin";
      }, (response) => {
        this.loading = false
      })
    }
  },
  components: {}
};
</script>

<style lang="scss">
.login-container {
  margin:        50px auto;
  padding:       20px;
  background:    #eee;
  box-shadow:    0 15px 17px rgba(0,0,0,.3);
  text-align:    center;
  color:         #444;
  border-radius: 5px;
  max-width:     500px;
  input, button {
    width:         100%;
    padding:       10px;
    border-radius: 5px;
    border:        1px solid #ccc;
    line-height:   1.7em;
    margin-bottom: 10px;
  }
}
</style>
