<template>
  <Modal :show.sync="show" :on-close="close" :department.sync="department">
    <div class="modal-header">
      <h3>Edit Department</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        Title
        <input v-model="department.title" class="form-control">
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="handleSubmit">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {editDepartment} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show', 'department'],
  data: function () {
    return {
    };
  },
  vuex: {
    actions: { editDepartment }
  },
  methods: {
    close: function () {
      this.show = false;
    },
    handleSubmit: function () {
      const self = this;
      // Insert AJAX call here...
      this.$http.put(`${config.API_URL}/departments`, {
        title: this.department.title,
        id: this.department.id
      }).then((response) => {
        self.editDepartment(response.data.data.department);
        swal('Success', 'Department berhasil di Edit', 'success');
        this.department.title = '';
        this.department.id = 0;
        this.close();
      }, (err) => {
        swal('Error', err.data.error.errors[0], 'error');
      })
    }
  }
}
</script>

<style lang="css">
</style>
