<template>
  <Modal :show.sync="show" :on-close="close">
    <div class="modal-header">
      <h3>New Department</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        title
        <input v-model="title" class="form-control">
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="handleSubmit()">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {addDepartments} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show'],
  vuex: {
    actions: { addDepartments }
  },
  data: function () {
    return {
      title: '',
    };
  },
  methods: {
    handleSubmit() {
      const self = this;
      this.$http.post(`${config.API_URL}/departments`, {title: self.title})
      .then((response) => {
        self.addDepartments([response.data.data.department]);
        swal('Success', 'Success Adding new Department', 'success');
        self.title = '';
        self.close();
      }, (err) => {
        swal('Error', 'Failed Adding new Department', 'error');
      })
    },
    close: function () {
      this.show = false;
      this.title = '';
      this.body = '';
    }
  }
}
</script>

<style lang="css">
</style>
