<template lang="html">
  <div>
    <department-new-modal :show.sync="showNewDepartmentModal"></department-new-modal>
    <department-edit-modal :show.sync="showEditDepartmentModal" :department.sync="department"></department-edit-modal>
    <h2>
      Jabatan
      <button @click="showNewDepartmentModal = true"><i class="fa fa-fw fa-plus"></i> Add Jabatan</button>
    </h2>
    <table>
      <thead>
        <th>
          Jabatan
        </th>
        <th>
          Action
        </th>
      </thead>
      <tbody>
        <tr v-for="department in departments">
          <td>
            {{ department.title }}
          </td>
          <td class="actions">
            <i class="fa fa-fw fa-edit" @click="editDepartment(department)"></i>
            <i class="fa fa-fw fa-trash" @click="handleDelete(department)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import config from '../../services/config'
import {getDepartments} from '../../vuex/getters'
import {addDepartments, deleteDepartment} from '../../vuex/actions'
import DepartmentNewModal from './DepartmentNewModal.vue'
import DepartmentEditModal from './DepartmentEditModal.vue'
export default {
  data() {
    return {
      showNewDepartmentModal: false,
      showEditDepartmentModal: false,
      department: {id: '', title: ''}
    };
  },
  name: 'Department',
  components: { DepartmentNewModal, DepartmentEditModal },
  vuex: {
    getters: {
      departments: getDepartments
    },
    actions: { addDepartments, deleteDepartment }
  },
  methods: {
    editDepartment(department) {
      this.showEditDepartmentModal = true;
      this.$set('department.id', department.id);
      this.$set('department.title', department.title);
    },
    handleDelete(department) {
      const self = this;
      swal({
        title:               "Delete",
        text:                `Are you sure you want to delete ${department.title}`,
        showCancelButton:    true,
        closeOnConfirm:      false,
        showLoaderOnConfirm: true,
      }, function(){
        self.$http.delete(`${config.API_URL}/departments`, {id: department.id})
        .then((response) => {
          self.deleteDepartment(department)
          swal('Success','Department Deleted','success')
        }, (err) => {
          swal('Error','Failed deleting department','error');
        })
      });
    }
  },
  created() {
    this.$http.get(`${config.API_URL}/departments`)
    .then((response) => {
      this.addDepartments(response.data.data.departments);
    })
  }
}
</script>

<style lang="css">
</style>
