<template lang="html">
  <position-new-modal :show.sync="showNewPositionModal"></position-new-modal>
  <position-edit-modal :show.sync="showEditPositionModal" :position.sync="position"></position-edit-modal>
  <h2>
    Job Positions
    <button @click="showNewPositionModal = true"><i class="fa fa-plus"></i> Add Job Position</button>
  </h2>
  <table>
    <thead>
      <tr>
        <th> Posisi </th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="position in positions">
        <td> {{ position.title}} </td>
        <td class="actions">
          <i class="fa fa-fw fa-edit" @click="editPosition(position)"></i>
          <i class="fa fa-fw fa-trash" @click="delete(position)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import PositionNewModal from './PositionNewModal.vue'
import PositionEditModal from './PositionEditModal.vue'
import config from '../../services/config'
import {getJobPositions} from '../../vuex/getters'
import {addPositions, deleteJobPosition} from '../../vuex/actions'
export default {
  components: {
    PositionNewModal, PositionEditModal
  },
  data() {
    return {
      showNewPositionModal: false,
      showEditPositionModal: false,
      position: { id: '', title: ''} 
    };
  },
  vuex: {
    actions: {
      addPositions, deleteJobPosition
    },
    getters: {
      positions: getJobPositions
    }
  },
  ready() {
    this.loadPositions();
  },
  methods: {
    loadPositions() {
      this.$http.get(`${config.API_URL}/job_positions`)
      .then((response) => {
        this.addPositions(response.data.data.job_positions);
      }, (err) => {})
    },
    editPosition(position) {
      this.showEditPositionModal = true;
      this.$http.get(`${config.API_URL}/job_positions/${position.id}`)
      .then((response) => {
        this.position = response.data.data.job_position
      });
    },
    delete(position) {
      const self = this;
      swal({
        title:               "Delete Position",
        text:                `Are you sure?`,
        showCancelButton:    true,
        closeOnConfirm:      false,
        showLoaderOnConfirm: true,
      }, function(){
        self.$http.delete(`${config.API_URL}/job_positions`, {
          id: position.id
        }).then((response) => {
          self.deleteJobPosition(position.id);
          swal('Success', 'Position Deleted', 'success')
        }, (err) => {})
      });
    }
  }
};
</script>

<style lang="css">
</style>
