<template>
  <Modal :show.sync="show" :on-close="close" :position.sync="position">
    <div class="modal-header">
      <h3>Edit Posisi</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        Name
        <input v-model="position.title" class="form-control">
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="editPosition()">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {updateJobPosition} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show', 'position'],
  vuex: {
    actions: { updateJobPosition }
  },
  methods: {
    close: function () {
      this.show = false;
    },
    editPosition: function () {
      this.$http.put(`${config.API_URL}/job_positions`, {
        title: this.position.title,
        id: this.position.id,
      }).then((response) => {
        this.updateJobPosition(this.position);
        this.position.title= '';
        this.position.id= '';
        this.close();
        swal('Success', 'Posisi berhasil di Edit', 'success');
      }, (err) => {})
    }
  }
}
</script>
