<template>
  <Modal :show.sync="show" :on-close="close">
    <div class="modal-header">
      <h3>New Position</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        Position
        <input v-model="title" class="form-control">
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="postAddPosition()">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {addPositions} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show'],
  data: function () {
    return {
      title: '',
    };
  },
  vuex: {
    actions: { addPositions }
  },
  methods: {
    close: function () {
      this.show = false;
      this.title = '';
      this.body = '';
    },
    postAddPosition: function () {
      // Insert AJAX call here...
      this.$http.post(`${config.API_URL}/job_positions`, {
        title: this.title,
      }).then((response) => {
        this.title = '';
        this.addPositions([response.data.data.job_position]);
        swal('Success', 'Posisi berhasil ditambah', 'success');
        this.close();
      }, (err) => {})
    }
  }
}
</script>

<style lang="css">
</style>
