<template>
  <div class="container admin-container">
    <div class="sidebar">
      <h1>SuperAdmin</h1>
      <ul>
        <li v-link="'/admin'"><i class="fa fa-fw fa-users"></i> Users</li>
        <li v-link="'/admin/departments'"><i class="fa fa-fw fa-institution"></i> Jabatan</li>
        <li v-link="'/admin/jobpositions'"><i class="fa fa-fw fa-database"></i> Job Positions</li>
        <li @click="logout"><i class="fa fa-fw fa-power-off"></i> Logout</li>
      </ul>
    </div>
    <div class="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import store from '../../vuex/store'
import {getToken} from '../../vuex/getters'

export default {
  data() {
    return {
      SAData: JSON.parse(localStorage.getItem('SAData'))
    };
  },
  store,
  vuex: {
    getters: {
      token: getToken
    }
  },
  created() {
    if(!this.SAData){
      this.$router.go('/admin-login');
      // window.location.href = '/admin-login';
    }
    this.$http.headers.common['Authorization'] = `${this.token}`;
  },
  methods: {
    logout() {
      localStorage.removeItem('SAData');
      window.location.href = '/';
    }
  }
};
</script>

<style lang="scss">
*, *:before, *:after {
  margin: 0 auto; padding: 0;
  box-sizing: border-box;
}
body, html, .admin-container {
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.admin-container {
  background: #f5f5f5;
}
.sidebar {
  width: 200px;
  height: 100%;
  background: #FFF;
  padding: 20px;
  border-right: 1px solid #ddd;
  position: absolute;
  top: 0; left: 0;
  color: #444;
  h1 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    line-height: 2em;
    transition: all 0.32s ease;
    &:hover {
      transform: translateY(-2px);
    }
  }
}
.content {
  padding: 20px 20px 20px 220px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #444;
}
table {
  border-collapse: collapse;
  width: 100%;
  .actions i {
    cursor: pointer;
  }
}
td, th {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
h2 {
  overflow: hidden;
  button {
    float: right;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
    background: #184e95;
    border: 0;
    border-bottom: 2px solid darken(#184e95, 10);
    color: #fee;
  }
}
.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
    .select {
      width: 100%;
    }
}
</style>
