<template lang="html">
  <user-new-modal :show.sync="showNewUserModal"></user-new-modal>
  <user-edit-modal :show.sync="showEditUserModal" :user.sync="user"></user-edit-modal>
  <h2>
    Users
    <button @click="showNewUserModal = true"><i class="fa fa-plus"></i> Add User</button>
  </h2>
  <table>
    <thead>
      <tr>
        <th> Nama </th>
        <th> Posisi </th>
        <th> NRP </th>
        <th> Jabatan </th>
        <th> Admin </th>
        <th> Status </th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="admin in admins">
        <td> {{ admin.name }} </td>
        <td> {{ admin.job_position.title }} </td>
        <td> {{ admin.nrp_number }} </td>
        <td> {{ admin.department.title}} </td>
        <td> <i class="fa fa-fw" :class="{'fa-check': admin.is_admin, 'fa-times': !admin.is_admin}"></i></td>
        <td> 
          <i class="fa fa-fw toggle" 
            :class="{'fa-check': !admin.is_non_active, 'fa-times': admin.is_non_active}"
            @click="toggleActive(admin)"></i>
        </td>
        <td class="actions">
          <i class="fa fa-fw fa-edit" @click="editUser(admin)"></i>
          <i class="fa fa-fw"
            :class="{
              'fa-toggle-on': !admin.is_admin,
              'fa-toggle-off': admin.is_admin
            }"
            @click="toggleAdmin(admin)">
          </i>
        </td>
      </tr>
      <tr v-for="user in users">
        <td> {{ user.name }} </td>
        <td> {{ user.job_position.title }} </td>
        <td> {{ user.nrp_number }} </td>
        <td> {{ user.department.title}} </td>
        <td> <i class="fa fa-fw" :class="{'fa-check': user.is_admin, 'fa-times': !user.is_admin}"></i></td>
        <td> 
          <i class="fa fa-fw toggle" 
            :class="{'fa-check': !user.is_non_active, 'fa-times': user.is_non_active}"
            @click="toggleActive(user)"></i>
        </td>
        <td class="actions">
          <i class="fa fa-fw fa-edit" @click="editUser(user)"></i>
          <i class="fa fa-fw"
            :class="{
              'fa-toggle-on': !user.is_admin,
              'fa-toggle-off': user.is_admin
            }"
            @click="toggleAdmin(user)">
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import UserNewModal from './UserNewModal.vue'
import UserEditModal from './UserEditModal.vue'
import config from '../../services/config'
import {getUsers, getAdmins, getToken} from '../../vuex/getters'
import {addUsers, addAdmins, setAdmin, removeAdmin, setUserActive, setUserNonActive} from '../../vuex/actions'
export default {
  components: {
    UserNewModal, UserEditModal
  },
  data() {
    return {
      showNewUserModal: false,
      showEditUserModal: false,
      user: {
        name: '',
        nrp_number: '',
        phone_number: '',
        department_id: '',
        job_position_id: ''
      }
    };
  },
  vuex: {
    actions: {
      addUsers, addAdmins, setAdmin, removeAdmin, setUserActive, setUserNonActive
    },
    getters: {
      token: getToken,
      users: getUsers,
      admins: getAdmins,
    }
  },
  ready() {
    this.loadUsers();
  },
  methods: {
    loadUsers() {
      this.$http.get(`${config.API_URL}/users`)
      .then((response) => {
        this.addUsers(response.data.data.users);
        this.loadAdmins();
      }, (err) => {})
    },
    loadAdmins() {
      this.$http.get(`${config.API_URL}/admins`)
      .then((response) => {
        this.addAdmins(response.data.data.admins);
      }, (err) => {})
    },
    toggleAdmin(user) {
      const self = this;
      swal({
        title:               "Change Admin Status",
        text:                `Change ${user.format_name} admin status?`,
        showCancelButton:    true,
        closeOnConfirm:      false,
        showLoaderOnConfirm: true,
      }, function(){
        if(!user.is_admin) {
          self.postSetAdmin(user).then((response) => {
            self.setAdmin(user.id);
            swal('Success','Admin Status Changed','success')
          });
        } else {
          self.postRemoveAdmin(user).then((response) => {
            self.removeAdmin(user.id)
            swal('Success','Admin Status Changed','success');
          });
        }
      });
    },
    postSetAdmin(user) {
      return this.$http.post(`${config.API_URL}/admins/session/assign`, {user_id: user.id});
    },
    postRemoveAdmin(user) {
      return this.$http.delete(`${config.API_URL}/admins/session/assign`, {admin_id: user.id});
    },
    editUser(user) {
      this.showEditUserModal    = true;
      this.$set("user.name", user.name);
      this.$set("user.nrp_number", user.nrp_number);
      this.$set("user.phone_number", user.phone_number);
      this.$set("user.department_id", user.department.id);
      this.$set("user.job_position_id", user.job_position.id);
      this.$set("user.id", user.id);
      this.$set("user.is_admin", user.is_admin);
    },
    activateUser(user) {
      return this.$http.put(`${config.API_URL}/users/active`, { id: user.id });
    },
    disactivateUser(user) {
      return this.$http.delete(`${config.API_URL}/users/non_active`, { id: user.id });
    },
    toggleActive(user) {
      const self = this;
      const activeStatus = (user.is_non_active) ? 'active' : 'inactive';
      swal({
        title:               "Are you sure",
        text:                `Are you sure you want to change this user status to <strong>${activeStatus}</strong>`,
        showCancelButton:    true,
        closeOnConfirm:      false,
        showLoaderOnConfirm: true,
      }, function(){
        if( !user.is_non_active ) {
          self.disactivateUser(user).then((response) => {
            self.setUserNonActive(user);
            swal('Success', 'Success Making User Inactive', 'success');
          }, (err) => {
            swal('Error', 'Failed Making User Inactive', 'error');
          })
        } else {
          self.activateUser(user).then((response) => {
            self.setUserActive(user);
            swal('Success', 'Success Activating User', 'success');
          }, (err) => {
            swal('Error', 'Failed Activating User', 'error');
          })
        }
      });
    }
  }
};
</script>

<style>
  i.toggle {
    cursor: pointer;
  }
</style>