<template>
  <Modal :show.sync="show" :on-close="close" :user.sync="user">
    <div class="modal-header">
      <h3>Edit User</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        Name
        <input v-model="user.name" class="form-control">
      </label>
      <label class="form-label">
        NRP-Number
        <input type="text" v-model="user.nrp_number" class="form-control">
      </label>
      <label class="form-label">
        Phone Number
        <input type="text" v-model="user.phone_number" class="form-control">
      </label>
      <label class="form-label">
        Job Position
        <select v-model="user.job_position_id" class="form-control">
          <option v-for="job_position in job_positions" :value="job_position.id">
            {{ job_position.title }}
          </option>
        </select>
      </label>
      <label class="form-label">
        Department
        <select v-model="user.department_id" class="form-control">
          <option v-for="department in departments" :value="department.id">
            {{ department.title }}
          </option>
        </select>
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="handleSubmit">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {editUser} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show', 'user'],
  data: function () {
    return {
      departments: [],
      job_positions: [],
    };
  },
  vuex: {
    actions: { editUser }
  },
  created(){
    this.loadDepartments()
    this.loadJobPositions()
  },
  methods: {
    loadDepartments() {
      const self = this;
      this.$http.get(`${config.API_URL}/departments`)
      .then((response) => {
        self.departments.length = 0;
        _.map(response.data.data.departments, (department) => {
          self.departments.push(department);
        });
      }, (err) => {})
    },
    loadJobPositions() {
      const self = this;
      this.$http.get(`${config.API_URL}/job_positions`)
      .then((response) => {
        self.job_positions.length = 0;
        _.map(response.data.data.job_positions, (job_position) => {
          self.job_positions.push(job_position);
        });
      }, (err) => {})
    },
    close: function () {
      this.show = false;
    },
    handleSubmit: function () {
      const self = this;
      // Insert AJAX call here...
      this.$http.put(`${config.API_URL}/users`, {
        name: this.user.name,
        nrp_number: this.user.nrp_number,
        phone_number: this.user.phone_number,
        job_position_id: this.user.job_position_id,
        department_id: this.user.department_id,
        user_id: this.user.id
      }).then((response) => {
        const data = response.data.data.user;
        data.is_admin = this.user.is_admin
        self.editUser(response.data.data.user);
        swal('Success', 'User berhasil di Edit', 'success');
        this.user.name = '';
        this.user.nrp_number = '';
        this.user.phone_number = '';
        this.user.job_position_id = 0;
        this.user.department_id = 0;
        this.user.id = 0;
        this.close();
      }, (err) => {
        swal('Error', err.data.error.errors[0], 'error');
      })
    }
  }
}
</script>

<style lang="css">
</style>
