<template>
  <Modal :show.sync="show" :on-close="close">
    <div class="modal-header">
      <h3>New User</h3>
    </div>

    <div class="modal-body">
      <label class="form-label">
        Name
        <input v-model="name" class="form-control">
      </label>
      <label class="form-label">
        NRP-Number
        <input type="text" v-model="nrp_number" class="form-control">
      </label>
      <label class="form-label">
        Phone Number
        <input type="text" v-model="phone_number" class="form-control">
      </label>
      <label class="form-label">
        Job Position
        <select v-model="job_position_id" class="form-control">
          <option v-for="job_position in job_positions" :value="job_position.id">
            {{ job_position.title }}
          </option>
        </select>
      </label>
      <label class="form-label">
        Department
        <select v-model="department_id" class="form-control">
          <option v-for="department in departments" :value="department.id">
            {{ department.title }}
          </option>
        </select>
      </label>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="addUser()">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from './Modal.vue'
import config from '../../services/config'
import {addUsers} from '../../vuex/actions'
export default {
  components: { Modal },
  props: ['show'],
  vuex: {
    actions: { addUsers }
  },
  data: function () {
    return {
      name: '',
      nrp_number: '',
      phone_number: '',
      department_id: 0,
      job_position_id: 0,
      departments: [],
      job_positions: []
    };
  },
  created(){
    this.loadDepartments()
    this.loadJobPositions()
  },
  methods: {
    loadDepartments() {
      const self = this;
      this.$http.get(`${config.API_URL}/departments`)
      .then((response) => {
        self.departments.length = 0;
        _.map(response.data.data.departments, (department) => {
          self.departments.push(department);
        });
      }, (err) => {})
    },
    loadJobPositions() {
      const self = this;
      this.$http.get(`${config.API_URL}/job_positions`)
      .then((response) => {
        self.job_positions.length = 0;
        _.map(response.data.data.job_positions, (job_position) => {
          self.job_positions.push(job_position);
        });
      }, (err) => {})
    },
    close: function () {
      this.show = false;
      this.title = '';
      this.body = '';
    },
    addUser: function () {
      // Insert AJAX call here...
      this.$http.post(`${config.API_URL}/users/session/sign_up`, {
        name: this.name,
        nrp_number: this.nrp_number,
        phone_number: this.phone_number,
        job_position_id: this.job_position_id,
        department_id: this.department_id
      }).then((response) => {
        swal('Success', 'User berhasil ditambah', 'success');
        window.location.reload();
        this.name = '';
        this.nrp_number = '';
        this.phone_number = '';
        this.job_position_id = 0;
        this.department_id = 0;
        this.close();
      }, (err) => {})
    }
  }
}
</script>

<style lang="css">
</style>
