<template lang="html">
  <div class="container-fluid">

    <router-view></router-view>

    <footer class="footer navbar-fixed-bottom">
      <span class="layer-footer-copyright">© 2016 V.1.0.1</span>
      <span class="pull-right">concept by | AKP. DWI NUGROHO , S.H. S.I.K</span>
    </footer>
  </div>
  <!-- <router-view></router-view> -->
</template>

<script>
import auth from '../auth'
import './action/action.scss'

export default {
  data() {
    return {
      user: auth.user
    };
  },
  computed: {},
  ready() {
    
  },
  attached() {},
  methods: {
    logout() {
      auth.logout()
    }
  },
  components: {}
};
</script>

<style lang="css">
</style>
