<template lang="html">
    <div class="modal-mask" v-show="show" transition="modal">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <strong>Tambah Kejadian</strong>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <!-- <b>Marker status:</b>
              <div id="markerStatus"><i>Click and drag the marker.</i></div> -->
              <!-- <form class="" action="" method="post"> -->
                <div class="form-group">
                  <!-- <label for="latbox">Latitude</label> -->
                  <input id="latbox" class="form-control" type="text" name="lat" value="" disabled placeholder="Latitude" v-model="caseData.lat">
                </div>
                <div class="form-group">
                  <!-- <label for="lngbox">Longitude</label> -->
                  <input id="lngbox" class="form-control" type="text" name="lng" value="" disabled placeholder="Longitude" v-model="caseData.lng">
                </div>
                <div class="form-group">
                  <!-- <label for="lngbox">Address</label> -->
                  <textarea id="address" class="form-control" name="location" placeholder="Address" row="3" v-model="caseData.location"></textarea>
                </div>
                <div class="form-group">
                  <!-- <label for="lngbox">Description</label> -->
                  <textarea id="description" class="form-control" name="description" placeholder="Description" row="3" v-model="caseData.description"></textarea>
                </div>
                <div class="form-group">
                  <!-- <label for="case_type">Case Type</label> -->
                  <select  class="form-control" v-model="caseData.case_type">
                    <option selected>KECELAKAAN</option>
                    <option>KEMACETAN</option>
                    <option>PLB</option>
                    <option>APEL PERS</option>
                  </select>
                </div>
              <!-- </form> -->
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer text-right">
              <button type="button" class="btn btn-default" @click="show = false">Batal</button>
              <button type="button" class="btn btn-default" @click="submitCases()">Tambah Kejadian</button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import auth from 'auth'

export default {
  props: {
    show: {
      type: Boolean,
      required: true,
      twoWay: true
    }
  },
  data() {
    return {
      caseData: {
        lat: '',
        lng: '',
        location: '',
        description: '',
        case_type:''
      },
    };
  },
  computed: {},
  ready() {},
  attached() {},
  methods: {
    submitCases() {
      this.$http.headers.common['Authorization'] = localStorage.getItem('lsData');
      var caseData = {
        lat: document.getElementById("latbox").value,
        lng: document.getElementById("lngbox").value,
        location: document.getElementById("address").value,
        description: this.caseData.description,
        case_type: this.caseData.case_type
      }
      if(caseData.lat.length<1 || caseData.lng.length<1 || caseData.location.length<1 || caseData.description.length<1 || caseData.case_type.length<1) {
        return alert('Please fill all the required fields');
      }
      auth.addCases(this, caseData, 'action')
      this.show = false
    }
  },
  components: {}
};
</script>

<style lang="css">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  /*padding: 20px 30px;*/
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  /*margin: 20px 0;*/
}

.modal-default-button {
  float: right;
}

/*
* the following styles are auto-applied to elements with
* v-transition="modal" when their visiblity is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
