/*action*/
#map{
  width: 100%;height: 100%;
}
.nav>li {
    position: relative;
    display: block;
}
header.menu{
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
section.layer{
  position: relative;
}
.box-menu-left{
  position: absolute;
  top: 0;
  height: calc(100% - 28px);
  margin-left: -15px;
}
.menu-left{
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  h4{
    background: #0077a2;
    margin:0;
    padding: 10px;
  }
  ul.list-admin{
    background-color: #002157;
    padding: 0;
    margin: 0;
    max-height: 96px;
    overflow-y: auto;
    li{
      padding: 6px 10px;
    }
  }
  .count-user{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #0077a2;
    padding: 5px 0;
    .number{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .mode{
      margin-right: 0;
    }
  }
}
.mode{
  width: 14px;
  height:11px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  &.online{
    width: 14px;
    height: 14px;
    background-color: #00ef00;
  }
  &.offline{
    width: 14px;
    height: 14px;
    background-color: #fe0d0c;
  }
  &.active{
    margin-left: 20px;
    border-radius: 20px / 15px;
    background-color: #00e4fb;
  }
  &.nonactive{
    margin-left: 20px;
    border-radius: 20px / 15px;
    background-color: #ff1011;
  }
  &.dinas{
    width: 0;
  	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid #02fc02;
    border-radius: 0;
  }
  &.cadangan{
    width: 0;
  	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid #fff31d;
    border-radius: 0;
  }
  &.lepas_dinas{
    width: 0;
  	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid #ff1c1d;
    border-radius: 0;
  }
}
input.checkbox{
  margin-right: 10px;
  position: absolute;
  top: 3px;
}
.action-menu{
  // transform: skew(-15deg);
  background: #000;
  background-color: #090909;
  border-color: #040404;
  font-size: 2rem;
  padding: 0;
  &.active{
    background: #0077A1;
  }
  &.admin{
    // border-bottom-right-radius: 6px;
    padding: 1.8rem;
    // background: linear-gradient(135deg,  rgba(43,219,207,0.8) 0%,rgba(8,39,37,1) 28%,rgba(0,0,0,1) 34%,rgba(0,0,0,1) 54%,rgba(0,0,0,1) 72%,rgba(12,58,54,1) 79%,rgba(46,232,216,0.8) 100%);
    background: #000;
    background-image: linear-gradient(#151515, #101010 60%, #070708);
    background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.6);
  }
  &.action, &.pengpers{
    border-width: 0 6px 0 0;
    border-style: solid;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  }
  &.pengpers{
    border-width: 0 6px;
  }
  a{
    color: #fff;
    font-weight: 700;
    padding: 1.4rem;
    display: block;
    // border-bottom: 6px solid #0077A1;
    &:hover, &:active{
      // border-bottom: 6px solid #000;
    }
  }
}
.container-map{
  position: absolute;
  right: 0;
  height: calc(100% - 28px);
}
.bottom-to-top {
    border-width: 10px;
    border-style: solid;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}
.content-map{
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 180px);
  background-color: #f5f5f5;
  top: 55px;
  bottom: 0;
  color: #333;
  margin-top: 8px;
}
.content-bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  .menu-bottom{
    // margin-left: -3.7rem;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .kecelakaan{
    padding: 8px;
    margin-top: 1rem;
    background-color: #fe0000;
    &:hover, &.active{
      background: #fe0000;
      background-image: linear-gradient(to bottom, #fe0000, #940000);
    }
  }
  .kemacetan{
    padding: 8px;
    margin-top: 1rem;
    background-color: #ffff01;
    color: #000;
    &:hover, &.active{
      background: #ffff66;
      background-image: linear-gradient(to bottom, #ffff66, #a9a900);
    }
  }
  .plb{
    padding: 8px;
    margin-top: 1rem;
    background-color: #00acee;
    &:hover, &.active{
      background: #00acee;
      background-image: linear-gradient(to bottom, #00acee, #00506f);
    }
  }
  .apelpers{
    padding: 8px;
    margin-top: 1rem;
    background-color: #00a652;
    &:hover, &.active{
      background: #00f174;
      background-image: linear-gradient(to bottom, #00f174, #004422);
    }
  }
}
ul{
  list-style: none;
  position: relative;
}
ul.list-personil{
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: calc(100% - 285px);
  overflow-y: auto;
  li{
    position: relative;
    padding: 0 10px;
    background: #4a4a4a;
    background-image: linear-gradient(to bottom, #4a4a4a, #251f1f);
    .name{
      line-height: 28px;
    }
  }
}
// form map
#infoPanel{
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 1rem;
  left: 10rem;
  border-radius: 4px;
  font-size: 90%;
  button{
    font-size: 13px;
  }
}

form.add-location{
  display: none;
  width: 400px;
  position: absolute;
  z-index: 1;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px 1px;
  padding: 16px;
  right: 10px;
}

.loading{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -31px;
}

@media screen and (max-width: 480px){
  .box-menu-left, .menu-left, .container-map{
    position: relative;
    margin-left: 0;
  }
  .content-bottom{
    position: relative;
    bottom: 0;
  }
}
