<template>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-3 col-md-3 box-menu-left">
      <div class="row">
        <div class="menu-left text-uppercase">
          <div class="text-center action-menu admin">
            <div class="row">
              <span>admin</span>
            </div>
          </div>
          <ul class="list-admin">
            <li v-if="dataAdmin.length>0" v-for="admin in dataAdmin"><span class="mode online"></span>{{ admin.format_name }}</li>
            <div class="text-center" v-if="dataAdmin.length<1">Loading...</div>
          </ul>
          <h4 class="text-center">personil</h4>
          <ul class="list-personil">
            <li v-if="dataUser.length>0" v-for="user in dataUser"><input class="checkbox" type="checkbox" value="{{ user.id }}" v-model="checkedNames"><span class="mode {{ (user.is_online == true)?'active':'nonactive' }}"></span><span class="mode {{ user.online_status }}"></span><span class="name">{{ user.format_name }}</span></li>
            <div class="loading" v-if="dataUser.length<1">Loading...</div>
          </ul>
          <div class="count-user">
            <div class="col-xs-6 col-md-6 text-center">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode dinas"></span>
                    <div class="number">{{ statusDinas.length }}</div>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode cadangan"></span>
                    <div class="number">{{ statusCadangan.length }}</div>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="row">
                    <span class="mode lepas_dinas"></span>
                    <div class="number">{{ statusLepasdinas.length }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-6 text-center">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="row">
                    <small>Online</small>
                    <div class="number">{{ filterUserOn.length }}</div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="row">
                    <small>Offline</small>
                    <div class="number">{{ filterUserOff.length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 pull-right container-map">

      <!-- <loc-info-modal :cur-location="curLocation" :on-delete-case="deleteCase"></loc-info-modal> -->
      <top-menu :click-handler="filterMarker"></top-menu>

      <div class="content-map">
        <!-- <Modal :show.sync="showModal"></Modal> -->
        <form id="addLocation" class="add-location" action="" method="post" @submit.prevent="submitCases()">
          <div class="form-group">
            <input id="latbox" class="form-control hide" type="text" name="lat" value="" disabled placeholder="Latitude" v-model="caseData.lat">
          </div>
          <div class="form-group">
            <input id="lngbox" class="form-control hide" type="text" name="lng" value="" disabled placeholder="Longitude" v-model="caseData.lng">
          </div>
          <div class="form-group">
            <textarea id="address" class="form-control" name="location" placeholder="Address" row="3" v-model="caseData.location"></textarea>
          </div>
          <div class="form-group">
            <textarea id="description" class="form-control" name="description" placeholder="Description" row="3" v-model="caseData.description"></textarea>
          </div>
          <div class="form-group">
            <select  class="form-control" v-model="caseData.case_type">
              <option selected>KECELAKAAN</option>
              <option>KEMACETAN</option>
              <option>PLB</option>
              <option>APEL PERS</option>
            </select>
          </div>
          <div class="text-right">
            <a class="cancel-btn btn btn-default" @click.stop.prevent="hideCaseModal()">Cancel</a> <button type="button" class="btn btn-primary" @click="submitCases()">Tambah Kejadian</button>
          </div>
        </form>
        <div id="infoPanel">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </div>
        <div id="map"></div>
      </div>

      <bottom-menu :click-handler="filterMarker"></bottom-menu>

    </div>

    <footer class="footer navbar-fixed-bottom">
      <span class="layer-footer-copyright">© 2016 V.1.0.1</span>
      <span class="pull-right">concept by | AKP. DWI NUGROHO , S.H. S.I.K</span>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import auth from 'auth'
import load from 'services/routes'
import LocInfoModal from './LocInfoModal.vue'
import moment from 'moment'
import TopMenu from './TopMenu.vue'
import BottomMenu from './BottomMenu.vue'
import _ from 'lodash'
import config from '../../services/config'

var token = localStorage.getItem("lsData")
var geocoder = new google.maps.Geocoder();

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerPosition(latLng) {
  document.getElementById("latbox").value = latLng.lat();
  document.getElementById("lngbox").value = latLng.lng();
}

function updateMarkerAddress(str) {
  document.getElementById('address').innerHTML = str;
}

export default {

  data() {
    return {
      dataAdmin: '', dataUser: '', filterUserOn:'',
      filterUserOff:'', statusDinas:'', statusCadangan:'',
      statusLepasdinas: '', checkedNames: [],
      map: '', latLng: '', filter: 'all',
      markers: [], marker: null,
      caseData: {
        lat: '', lng: '', location: '',
        description: '', case_type:''
      },
      showModal: false,
      infoWindow: new google.maps.InfoWindow({ maxWidth: 300 }),
      icons: {
        apel_pers: { icon: '/static/img/apelpers-mini.png' },
        kemacetan: { icon: '/static/img/kemacetan-mini.png' },
        kecelakaan: { icon: 'static/img/kecelakaan-mini.png' },
        plb: { icon: 'static/img/plb-mini.png' }
      },
      interval1: '', interval2: ''
    }
  },

  created() {
    this.latLng = new google.maps.LatLng(-7.0051453,110.43812539999999);
  },

  components:{TopMenu, BottomMenu},

  ready() {
    this.map = new google.maps.Map(document.getElementById('map'), {
      zoom:      11,
      center:    this.latLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    this.getDataAdmin()
    this.getDataUser()
    this.initialize(true)
    this.interval1 = this.getNewMarkerData();
    this.interval2 = this.ticking();
  },

  destroyed () {
    window.clearInterval(this.interval1);
    window.clearInterval(this.interval2);
  },

  methods: {
    ticking() {
      const self = this;
      return window.setInterval(function () {
        self.getDataUser();
      }, 30000);
    },
    getNewMarkerData() {
      const self = this;
      return window.setInterval(function () {
        self.initialize();
      }, 30000);
    },
    initialize(addListener) {
      const self = this;
      // get semua kejadian { opencases }
      new Promise(function (resolve, reject) {
        load.getAdminSessionCases(token).subscribe(
          function onSuccess (response) {
            resolve(response.open_cases)
          },
          function onError (error) {
            reject({ error: error })
          }
        )
      }).then(function (locations) {
        if(!addListener) self.clearMarker();
        self.setMarkers(locations);
        if(addListener){
          self.setMarkerListener();
          self.setSearchBoxListener();
        }
      })
    },
    setSearchBoxListener() {
      const self = this;
      // Create the search box and link it to the UI element.
      var input = document.getElementById('pac-input');
      var searchBox = new google.maps.places.SearchBox(input);
      // self.map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
      google.maps.event.addListener(self.map, 'bounds_changed', function() {
        searchBox.setBounds(self.map.getBounds());
      });
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();
        console.info('isi places', places);

        if (places.length == 0) {
          return;
        }

        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        self.map.fitBounds(bounds);
        self.map.setZoom(18);
      });
    },
    setMarkerListener() {
      const self = this;
      google.maps.event.addListener(this.map, 'click', function(e) {
        self.placeMarker(e.latLng);
        document.getElementById('addLocation').style.display = 'block';
      });
    },
    placeMarker(location) {
      const self = this;
      if (!self.marker){
        self.marker = new google.maps.Marker({
          position: location,
          map: self.map,
          draggable: true,
          animation: google.maps.Animation.DROP,
        });
      } else{
        self.marker.setPosition(location);
      }
      self.map.setCenter(location);

      // Update current position info.
      updateMarkerPosition(location);
      geocodePosition(location);

      // Add dragging event listeners.
      google.maps.event.addListener(self.marker, 'dragstart', function() {
        updateMarkerAddress('Dragging...');
      });

      google.maps.event.addListener(self.marker, 'drag', function() {
        updateMarkerPosition(self.marker.getPosition());
      });

      google.maps.event.addListener(self.marker, 'dragend', function() {
        geocodePosition(self.marker.getPosition());
      });
    },
    setMapOnAll(map, markers) {
      const self = this;
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    },
    setMarkers(locations) {
      const self = this;
      self.clearMarker();
      var marker;
      var infoWindow = new google.maps.InfoWindow({
        maxWidth: 500
      });
      locations.forEach(function (location) {
        // Code for setMarkers
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(location.lat, location.lng),
          icon: self.icons[location.case_type.event_name].icon,
          case_type: location.case_type.event_name,
          loc_id: location.id
          // map: self.map
        });
        self.markers.push(marker);

        // Ambil data polisi yang di assign ke lokasi kejadian
        var arrayAssign = []
        var checkins = _.map(location.checkins, (checkin) => {
          let data = checkin;
          checkin.user_id = checkin.user.id;
          return data;
        })

        // Looping for Assign
        location.assigns.forEach(function (assign) {
          var userCheckIn = _.find(checkins, { user_id: assign.id });
          var readAt = (userCheckIn.readed_at) ? moment(userCheckIn.readed_at).format('D MMM, HH:mm') :  '-';
          var checkinAt = (userCheckIn.checkin_at) ? moment(userCheckIn.checkin_at).format('D MMM, HH:mm') : '-';
          var responseTime = userCheckIn.response_time;
          var info = `<div>
          <strong>${assign.format_name.toUpperCase()}</strong>
          <ul>
          <li>Waktu Baca: ${readAt}</li>
          <li>Waktu Datang: ${checkinAt}</li>
          <li>Cepat Respon: ${responseTime}</li>
          </ul>
          </div>`
          arrayAssign.push(info)
        })

        var contentString = `
          <div id="content">
            <div class="text-center">
              <strong>${location.case_type.title}</strong>
            </div>
            <strong>Deskripsi:</strong>
            <p>${location.description}</p>
            <strong>Lokasi:</strong>
            <p>${location.location}</p>
            <strong>Personil:</strong>
            <blockquote style="padding: 5px 10px;font-size: 13px;">
              ${arrayAssign.join('')}
            </blockquote>
          </div>`;

        marker.addListener('click', function() {
          infoWindow.setContent(contentString);
          infoWindow.open(self.map, this)
        })

        google.maps.event.addListener(marker, 'rightclick', function (e) {
          self.deleteCase(location);
          return false;
        })
      })
      if(self.filter == 'all') {
        console.info('all');
        self.setMapOnAll(self.map, self.markers);
      } else {
        console.info('filter', self.filter);
        self.filterMarker(self.filter);
      }
    },
    filterMarker(filter) {
      // get the filter, filter all markers based on the filter
      const self = this;
      self.setMapOnAll(null, this.markers);
      let filteredMarker = [];
      for(let i=0; i<self.markers.length; i++) {
        if(filter == 'all' || self.markers[i].case_type == filter) filteredMarker.push(self.markers[i]);
      }
      self.filter = filter;
      self.setMapOnAll(self.map, filteredMarker);
    },
    clearMarker() {
      this.setMapOnAll(null, this.markers);
      this.$set('markers', []);
    },
    getDataAdmin() {
      load.getAdminSessionAdminData(token).subscribe(
        function (response) {
          // console.log('Success Admin');
          this.dataAdmin = response.admins
        }.bind(this),
        function (errors) {
          // console.log('onError %s', errors);
        }.bind(this)
      )
    },
    getDataUser() {
      load.getAdminSessionUsers(token).subscribe(
          function (response) {
            this.dataUser = response.users
            this.filterUserOn = _.filter(this.dataUser, function(e) { return e.is_online; });
            this.filterUserOff = _.filter(this.dataUser, function(e) { return !e.is_online; });
            this.statusDinas = _.filter(this.dataUser, {'online_status' : 'dinas'});
            this.statusCadangan = _.filter(this.dataUser, {'online_status' : 'cadangan'});
            this.statusLepasdinas = _.filter(this.dataUser, {'online_status' : 'lepas_dinas'});
          }.bind(this),
          function (errors) {
            console.log('onError %s', errors);
          }.bind(this)
      )
    },
    deleteCase(location) {
      const self = this;
      swal({
        title:               "Delete Open Case",
        text:                `Are you sure you want to delete case in ${location.location}?`,
        showCancelButton:    true,
        closeOnConfirm:      false,
        showLoaderOnConfirm: true,
      }, function(){
        self.$http.delete(`${config.API_URL}/open_cases/closed`, {id: location.id})
        .then((response) => {
          const theMarker = _.find(self.markers, {loc_id: location.id});
          if(theMarker) self.markers.$remove(theMarker);
          swal('Success', 'Case deleted', 'success');
        })
      })
    },
    submitCases() {
      // this.$http.headers.common['Authorization'] = localStorage.getItem('lsData');
      var caseData = {
        lat: document.getElementById("latbox").value,
        lng: document.getElementById("lngbox").value,
        location: document.getElementById("address").value,
        description: this.caseData.description,
        case_type: this.caseData.case_type,
        assign_user_ids: this.checkedNames
      }
      if (caseData.assign_user_ids.length<1) {
        return swal('Peringatan!', 'Anda belum memilih Personil', 'warning');
      }
      if(caseData.lat.length<1 || caseData.lng.length<1 || caseData.location.length<1 || caseData.description.length<1 || caseData.case_type.length<1) {
        return swal('Peringatan!', 'Isi form dengan benar', 'warning');
      }
      load.postAdminSessionCases(caseData).subscribe(
          function (response) {
            // console.log('Success Post Data');
            return swal({
              title: "Success",
              text: "Kejadian berhasil ditambahkan",
              type: "success",
              showCancelButton: false,
              closeOnConfirm: true
            },
            function(){
              document.getElementById('addLocation').style.display = 'none';
              location.reload();
            });
          }.bind(this),
          function (errors) {
            console.log('onError %s', errors);
          }.bind(this)
      )
      // auth.addCases(this, caseData, 'action')
      // document.getElementById('addLocation').style.display = 'none';
      // this.show = false
    },
    hideCaseModal() {
      this.marker.setMap(null);
      this.$set('marker', null);
      document.getElementById('addLocation').style.display = 'none';
    }
  },

  route: {
    canActivate() {
      return auth.user.authenticated
    }
  }

}
</script>
<style lang="css">
.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
</style>
