<template lang="html">
  <div class="content-bottom">
    <div class="menu-bottom">
      <div class="col-xs-3 col-sm-3 col-md-3 text-center text-uppercase" @click="handleClick('kecelakaan')">
        <div class="row">
          <img src="../../img/kecelakaan.png" height="64"/>
          <div class="kecelakaan" :class="{'active': activeTab == 'kecelakaan'}">
            <span><strong>kecelakaan</strong></span>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 text-center text-uppercase" @click="handleClick('kemacetan')">
        <div class="row">
          <img src="../../img/kemacetan.png" height="64"/>
          <div class="kemacetan" :class="{'active': activeTab == 'kemacetan'}">
            <span><strong>kemacetan</strong></span>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 text-center text-uppercase" @click="handleClick('plb')">
        <div class="row">
          <img src="../../img/plb.png" height="64"/>
          <div class="plb" :class="{'active': activeTab == 'plb'}">
            <span><strong>plb</strong></span>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 text-center text-uppercase" @click="handleClick('apel_pers')">
        <div class="row">
          <img src="../../img/apelpers.png" height="64"/>
          <div class="apelpers" :class="{'active': activeTab == 'apel_pers'}">
            <span><strong>apel pers</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['clickHandler'],
  data() {
    return {
      activeTab: null,
    }
  },
  methods: {
    handleClick(filter) {
      this.clickHandler(filter);
      this.activeTab = filter;
    }
  }
};
</script>

<style lang="css">
</style>
