<template>
  <Modal :show.sync="show" :on-close="close">
    <div class="modal-header">
      <h3>New Position</h3>
    </div>

    <div class="modal-body">
      <button>Delete Case</button>
    </div>

    <div class="modal-footer text-right">
      <button class="modal-default-button" @click="postAddPosition()">
        Save
      </button>
    </div>
  </Modal>
</template>

<script>
import Modal from '../superadmin/Modal.vue'
import config from '../../services/config'
export default {
  components: { Modal },
  props: ['show', 'onDeleteCase', 'curLocation'],
  data: function () {
    return {
      title: '',
    };
  },
  methods: {
    close: function () {
      this.show = false;
      this.title = '';
      this.body = '';
    },
    deleteCase() {
      this.onDeleteCase();
    }
  }
}
</script>
