<template lang="html">
  <div class="row text-center text-uppercase">
    <div class="col-sm-5 col-md-5 action-menu action" v-link="{ path: '/action', activeClass: 'active' }">
      <a v-link="{ path: '/action', activeClass: 'active' }">action</a>
    </div>
    <div class="col-sm-6 col-md-6 action-menu pengpers" v-link="{ path: '/pengpers', activeClass: 'active' }">
      <a v-link="{ path: '/pengpers' }">penggelaran personil</a>
    </div>
    <div class="col-sm-1 col-md-1 action-menu">
      <a v-link="'login'" @click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
  </div>
</template>

<script>
import auth from '../../auth'

export default {
  props: ['clickHandler'],
  data() {
    return {
      user: auth.user,
    };
  },
  methods: {
    logout() {
      auth.logout()
    },
    handleClick() {
      this.clickHandler('all');
    }
  },
  components: {}
};
</script>

<style lang="css">
</style>
