<template>
  <div class="login">
    <section class="login-section navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
            <p><img src="../../img/logo.png" alt="" class="img-responsive" /></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-md-7 col-md-offset-2 box-image-title">
            <p><img src="../../img/title-quick-response.png" alt="" class="img-responsive" /></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
              <form @submit.prevent="submit">
                <div class="alert alert-danger" v-if="error">
                  <p>{{ error }}</p>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Masukan NRP" v-model="credentials.nrp_number">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Masukan Password" v-model="credentials.password">
                </div>
                <button type="submit" class="btn btn-default btn-block text-uppercase"><span v-if="!loading">masuk</span> <i v-show="loading" class="fa fa-spinner fa-spin"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <span class="layer-footer-copyright">© 2016 V.1.0.1</span>
        <span class="pull-right">concept by | AKP. DWI NUGROHO , S.H. S.I.K</span>
      </div>
    </section>
  </div>
</template>

<script>
import auth from 'auth'
import {router} from 'router'
import load from '../../services/routes'
import './login.scss'

export default {

  data() {
    return {
      user: auth.user,
      credentials: {
        nrp_number: '',
        password: ''
      },
      error: '',
      loading: false
    }
  },

  ready(){
    if (this.user.authenticated) {
      router.go('/action')
    }
  },

  methods: {

    submit() {
      this.loading = true
      var credentials = {
        nrp_number: this.credentials.nrp_number,
        password: this.credentials.password
      }
      load.postAdminSessionSignIn(credentials).subscribe(
          function (response) {
            localStorage.setItem('lsData', response.authentication_token)
            this.user.authenticated = true
            location.reload();
            this.loading = false
          }.bind(this),
          function (errors) {
            this.error = 'NRP atau Password salah'
            this.loading = false
          }.bind(this)
      );
    }
  }

}
</script>
