html, body {
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Gudea', sans-serif;
  color: #fff;
  background: #e8e8e8;
  background: url('../../img/background.png') no-repeat;
  background-position: center;
  background-size: cover;
}
/*page login*/
.login-section{
  padding: 30px 0 0;
  input{
    background-color: rgba(255,255,255,.8);
  }
  .alert {
    padding: 6px 10px;
  }
}
.box-image-title{
  margin-bottom: 1em;
}
.footer{
  line-height: 18px;
  margin-bottom: 0;
  padding: 5px 15px;
  background-color: rgba(0,0,0,.6);
}
@media screen and (max-width: 480px){
  .login-section .container{
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 769px){
  .box-image-title{
    margin-left: 15.5em;
  }
}
